{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" align="center">
         <img src="{{ asset('bundles/app/img/doggo.jpg') }}"  width="75%" height="75%" alt="Missing Doggo"> 
        </div>
    </div>
{% endblock %}